.button {
    background-image: linear-gradient(to right, #0857C3, #00c7ff); 
    border: 1px solid rgba(0, 0, 0, 0.2); 
    color: #fff; 
    padding: 10px 20px; 
    border-radius: 5px; 
    font-weight: bold; 
    cursor: pointer; 
    transition: all 0.2s ease-in-out; 
  }
  
  .button:hover {
    background-image: linear-gradient(to right, #005ead, #00b8f4); 
    t

h1 {
    color: white;
    -webkit-text-stroke: 1px black;
}

body {
    background-color:aqua;
    align-items: center;
}

button.current {
    box-shadow: 0 0 1 2px white, 0 0 1 2px black;
}
