.button {
    background-image: linear-gradient(to right, #007bff, #00c7ff); /* Blue gradient */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Semi-transparent black border */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding for spacing */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Indicate clickable behavior */
    transition: all 0.2s ease-in-out; /* Smooth transition on hover */
  }
  
  .button:hover {
    background-image: linear-gradient(to right, #005ead, #00b8f4); /* Change gradient color on hover */
    t

h1 {
    color: white;
    -webkit-text-stroke: 1px black;
}

body {
    background-color:aqua;
    align-items: center;
}

button.current {
    box-shadow: 0 0 1 2px white, 0 0 1 2px black;
}