.button {
    background-color: DodgerBlue;
    /* Blue background */
    border: black;
    color:black;
    /* White text */
    padding: 12px 16px;
    /* Some padding */
    font-size: 14px;
    /* Set a font size */
    cursor: pointer;
    /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.button:hover {
    background-color: RoyalBlue;
}

h1 {
    color: white;
    -webkit-text-stroke: 1px black;
}

body {
    background-color:aqua;
    align-items: center;
}

button.current {
    box-shadow: 0 0 1 2px white, 0 0 1 2px black;
}